<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="board.dao.BoardDao">

<select id="selectBoardList" parameterType="boardSch" resultType="board">
select b3.postid, b3.subject,b3.regdte, rn from 
 (SELECT b.*, rownum rn from
	(select b2.* from board b2 
	WHERE subject LIKE '%'||#{searchSubject, jdbcType=VARCHAR}||'%'
	order by regdte DESC
	) b) b3
	where rn between 1+(30*(#{pageIndex}-1)) and (30*#{pageIndex})
order by rn
</select>

<insert id="insertBoard" parameterType="board">
    <selectKey resultType="int" keyProperty="postid" order="BEFORE">
        SELECT board_seq.nextval FROM dual
    </selectKey>    
INSERT INTO board (postid,subject,CONTENT,writer,regdte) values(#{postid},#{subject},#{content},#{writer},sysdate)
</insert>

<select id="selectBoard" parameterType="board" resultType="board">
select * from board where postid = #{postid}
</select>

<update id="updateBoard" parameterType="board" >
UPDATE board SET subject = #{subject}, CONTENT = #{content}, uptdte=sysdate WHERE postid=#{postid}
</update>

<delete id="deleteBoard" parameterType="board" >
DELETE board WHERE postid=#{postid}
</delete>

<select id="totalPage" parameterType="boardSch" resultType="int">
SELECT CEIL(COUNT(*)/30) FROM BOARD b 
	WHERE 
	subject LIKE '%'||#{searchSubject, jdbcType=VARCHAR}||'%' and
	writer LIKE '%'||#{searchWriter, jdbcType=VARCHAR}||'%'
</select>

<insert id="insertVoca" parameterType="voca">
  INSERT All 
  <foreach collection="vocalist" item="item" >
  	INTO boardvoca(postid,voca,frequency) VALUES (#{postid},#{item.voca},#{item.frequency})
  </foreach>
  SELECT * FROM dual
</insert>

<select id="selectRelative" parameterType="java.lang.Integer" resultType="board">
SELECT b.postid, b.SUBJECT, b.REGDTE, countvoca,sumFREQUENCY
FROM BOARD b , 
	(SELECT POSTID, count(voca) countvoca,sum(frequency) sumFREQUENCY  FROM boardVoca WHERE voca IN (
			SELECT voca FROM
				(SELECT voca, COUNT(postid) countpost FROM boardVoca WHERE VOCA IN (SELECT voca FROM boardVoca WHERE POSTID=#{postid}) GROUP BY voca) sub1
			WHERE countpost/(SELECT COUNT(DISTINCT postID) FROM boardVoca)<![CDATA[ < ]]>=0.4	
	) GROUP BY POSTID ) sub2
WHERE b.POSTID = sub2.postid and b.postid!=#{postid} AND countvoca>=2
ORDER BY sumFREQUENCY desc
</select>

</mapper>		
		